/*
Error: Invalid CSS after "...av-main__link :": expected pseudoclass or pseudoelement, was " visited,"
        on line 26 of scss/_components.navigation.scss
        from line 59 of scss/screen.scss

21: @import 'settings.breakpoints';
22: @import 'settings.grid';
23: @import 'settings.colors';
24: @import 'settings.ms';
25: @import 'settings.typography';
26: @import 'settings.ui';
27: 
28: // Tools
29: @import 'tools.functions';
30: @import 'tools.mixins';
31: @import 'tools.grid';

Backtrace:
scss/_components.navigation.scss:26
scss/screen.scss:59
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:1162:in `expected'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:1098:in `expected'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:1093:in `tok!'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/static_parser.rb:277:in `pseudo'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/static_parser.rb:154:in `simple_selector_sequence'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/static_parser.rb:119:in `selector'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/static_parser.rb:86:in `selector_comma_sequence'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:1076:in `expr!'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:424:in `visit_rule'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:410:in `run'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/base.rb:52:in `parse'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/base.rb:19:in `parse!'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/bin/sass:13:in `<top (required)>'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/Users/sophiedebrabander/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...av-main__link :\": expected pseudoclass or pseudoelement, was \" visited,\"\A         on line 26 of scss/_components.navigation.scss\A         from line 59 of scss/screen.scss\A \A 21: @import 'settings.breakpoints';\A 22: @import 'settings.grid';\A 23: @import 'settings.colors';\A 24: @import 'settings.ms';\A 25: @import 'settings.typography';\A 26: @import 'settings.ui';\A 27: \A 28: // Tools\A 29: @import 'tools.functions';\A 30: @import 'tools.mixins';\A 31: @import 'tools.grid';"; }
