.grid-1 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-2 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-3 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-4 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-5 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-6 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-7 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-8 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-9 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-10 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-11 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.row {
	margin: 0 auto;
	max-width: 100%;
}

.row .row {
	padding: 0;
}

.full-width {
	margin: 0 auto;
}

.grid-1 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-2 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-3 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-4 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-5 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-6 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-7 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-8 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-9 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-10 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-11 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

/*
 Reset
*/

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section,
main {
	display: block;
}

form {
	padding: 0 0 0.875em;
}

legend,
label {
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 1em;
	line-height: 1.75;
	padding-top: 1.3125em;
	padding-bottom: 0.4375em;
}

input[type="input"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[name="field_country_code"],
input[name="field_city_code"],
input[name="field_phone_int"],
select[multiple],
textarea {
	-webkit-appearance: none;
	font-smoothing: antialiased;
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #F44336;
	color: #5e5e5e;
	font-family: 'open sans', sans-serif;
	margin: 0;
	width: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0.15625em;
	padding-right: 0.15625em;
	font-size: 1em;
	line-height: 1.3125;
	padding-top: 0.4375em;
	padding-bottom: 0.4375em;
	height: 2.1875em;
}

input[type="input"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[name="field_country_code"]:focus,
input[name="field_city_code"]:focus,
input[name="field_phone_int"]:focus,
select[multiple]:focus,
textarea:focus {
	color: #111111;
	outline-color: #F44336;
	border-color: #ba160a;
}

textarea {
	height: auto;
}

::-webkit-input-placeholder {
	font-family: 'Bree Serif', serif;
	font-style: italic;
}

::-moz-placeholder {
	font-family: 'Bree Serif', serif;
	font-style: italic;
}

:-ms-input-placeholder {
	font-family: 'Bree Serif', serif;
	font-style: italic;
}

input[type="submit"],
button {
	padding-left: 0.3125em;
	padding-right: 0.3125em;
	font-size: 1em;
	line-height: 1.3125;
	padding-top: 0.4375em;
	padding-bottom: 0.4375em;
	height: 2.1875em;
	border: 1px solid #2196F3;
	background-color: #2196F3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2196F3), to(#2198f3));
	background-image: -webkit-linear-gradient(#2196F3, #2198f3);
	background-image: linear-gradient(#2196F3, #2198f3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
	color: #092d48;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover,
button:focus {
	border: 1px solid #4dacf5;
	background-color: #4dacf5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4dacf5), to(#4dacf5));
	background-image: -webkit-linear-gradient(#4dacf5, #4dacf5);
	background-image: linear-gradient(#4dacf5, #4dacf5);
	color: #163349;
}

input[type="submit"]:focus,
button:focus {
	text-decoration: underline;
}

input[type="submit"]:active,
button:active {
	background-color: #4dacf5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4dacf5), to(#4dacf5));
	background-image: -webkit-linear-gradient(#4dacf5, #4dacf5);
	background-image: linear-gradient(#4dacf5, #4dacf5);
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #163349;
}

input[type="submit"]:visited,
button:visited {
	color: #092d48;
}

/*
  Grid
*/

.row {
	*zoom: 1;
	margin: 0 auto;
	max-width: 75em;
}

.row:before,
.row:after {
	display: table;
	content: "";
}

.row:after {
	clear: both;
}

.row .row {
	padding: 0;
}

.row .row {
	padding: 0;
}

.is-hidden {
	display: none;
}

.pT {
	padding-top: 1.5em;
	padding-bottom: 0em;
}

/*
  Media object
*/

.media {
	*zoom: 1;
	margin-top: 0em;
	margin-bottom: 1.5em;
}

.media:before,
.media:after {
	display: table;
	content: "";
}

.media:after {
	clear: both;
}

.media__img {
	float: left;
	margin-bottom: 1.5em;
}

.media__img img {
	display: block;
}

.media__img--reverse {
	float: right;
}

.media__body {
	overflow: hidden;
	padding-left: 0.625em;
	padding-right: 0.625em;
}

/*
  Tables
*/

table {
	text-align: left;
	width: 100%;
	font-family: 'open sans', sans-serif;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 0.875em;
	line-height: 1.71429em;
	margin-bottom: 3.42857em;
}

tr {
	border-bottom: 1px solid #f5594e;
}

th,
thead {
	display: none;
}

td {
	display: block;
	padding: 0.25em 1em 0.25em 0;
}

td:before {
	content: attr(headers) ": ";
	font-weight: bold;
	width: 50%;
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Bree Serif', serif;
	font-weight: 400;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 2.197em;
	line-height: 1.39395;
	padding-top: 0.59741em;
	padding-bottom: 0.59741em;
}

h2 {
	font-size: 1.69em;
	line-height: 1.29438;
	padding-top: 0.51775em;
	padding-bottom: 0.51775em;
}

h3 {
	font-size: 1.3em;
	line-height: 1.34615;
	padding-top: 0.33654em;
	padding-bottom: 0.33654em;
}

h4,
h5,
h6 {
	font-weight: 400;
	font-size: 1em;
	line-height: 1.75;
	padding-top: 1.3125em;
	padding-bottom: 0.4375em;
}

p,
ol,
ul,
dl,
table,
address {
	font-size: 1em;
	line-height: 1.75;
	padding-top: 0.4375em;
	padding-bottom: 0.875em;
}

pre {
	-moz-tab-size: 2;
	tab-size: 2;
	overflow: auto;
}

blockquote {
	text-align: center;
	font-style: italic;
	color: #5e5e5e;
	border-bottom: 3px solid #dedede;
	border-top: 3px solid #dedede;
	width: 75%;
	margin: 0 auto;
	padding: 1em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

caption {
	font-family: 'open sans', sans-serif;
	text-align: left;
	border-bottom: 1px solid #919191;
	font-weight: 400;
	text-align: center;
	padding-bottom: 0.75em;
	margin-bottom: 0.75em;
}

a,
a:hover,
a:active,
a:focus {
	color: #111111;
	text-decoration: none;
}

.text-link {
	text-decoration: none;
	color: #111111;
	border-bottom: 3px solid #2196F3;
	-webkit-transition: color 0.22s ease-in-out;
	transition: color 0.22s ease-in-out;
	cursor: pointer;
}

.text-link:visited {
	text-decoration: none;
	color: #111111;
	border-bottom: 3px solid #2196F3;
}

.text-link:hover {
	text-decoration: none;
	color: #111111;
	border-bottom: 3px solid #0c7ed5;
}

.text-link:focus {
	text-decoration: none;
	color: #111111;
	border-bottom: 3px solid #0c7ed5;
}

.text-link:hover,
.text-link:active {
	outline: 0;
}

.ui-list > li {
	list-style-type: none;
}

/*
  Buttons
*/

.btn,
a.btn,
input.btn,
input[type="submit"].btn,
.btn-secondary,
input.btn-secondary,
input[type="submit"].btn-secondary,
a.btn-secondary {
	border-radius: 5px;
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: 'open sans', sans-serif;
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: all 0.22s ease-in-out;
	transition: all 0.22s ease-in-out;
	-webkit-transition-property: background, color, border;
	transition-property: background, color, border;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	padding-left: 0.3125em;
	padding-right: 0.3125em;
	font-size: 1em;
	line-height: 1.3125;
	padding-top: 0.4375em;
	padding-bottom: 0.4375em;
	height: 2.1875em;
}

.btn:hover,
.btn:visited,
a.btn:hover,
a.btn:visited,
input.btn:hover,
input.btn:visited,
input[type="submit"].btn:hover,
input[type="submit"].btn:visited,
.btn-secondary:hover,
.btn-secondary:visited,
input.btn-secondary:hover,
input.btn-secondary:visited,
input[type="submit"].btn-secondary:hover,
input[type="submit"].btn-secondary:visited,
a.btn-secondary:hover,
a.btn-secondary:visited {
	text-decoration: none;
}

.btn,
a.btn {
	border: 1px solid #2196F3;
	background-color: #2196F3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2196F3), to(#2198f3));
	background-image: -webkit-linear-gradient(#2196F3, #2198f3);
	background-image: linear-gradient(#2196F3, #2198f3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
	color: #092d48;
}

.btn:hover,
.btn:focus,
a.btn:hover,
a.btn:focus {
	border: 1px solid #4dacf5;
	background-color: #4dacf5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4dacf5), to(#4dacf5));
	background-image: -webkit-linear-gradient(#4dacf5, #4dacf5);
	background-image: linear-gradient(#4dacf5, #4dacf5);
	color: #163349;
}

.btn:focus,
a.btn:focus {
	text-decoration: underline;
}

.btn:active,
a.btn:active {
	background-color: #4dacf5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4dacf5), to(#4dacf5));
	background-image: -webkit-linear-gradient(#4dacf5, #4dacf5);
	background-image: linear-gradient(#4dacf5, #4dacf5);
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #163349;
}

.btn:visited,
a.btn:visited {
	color: #092d48;
}

.btn-secondary,
input.btn-secondary,
input[type="submit"].btn-secondary,
a.btn-secondary {
	border: 1px solid #1A237E;
	background-color: #1A237E;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1A237E), to(#1a247e));
	background-image: -webkit-linear-gradient(#1A237E, #1a247e);
	background-image: linear-gradient(#1A237E, #1a247e);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
	color: #f3f4f8;
}

.btn-secondary:hover,
.btn-secondary:focus,
input.btn-secondary:hover,
input.btn-secondary:focus,
input[type="submit"].btn-secondary:hover,
input[type="submit"].btn-secondary:focus,
a.btn-secondary:hover,
a.btn-secondary:focus {
	border: 1px solid #222fa4;
	background-color: #222fa4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#222fa4), to(#222fa4));
	background-image: -webkit-linear-gradient(#222fa4, #222fa4);
	background-image: linear-gradient(#222fa4, #222fa4);
	color: #f3f4fa;
}

.btn-secondary:focus,
input.btn-secondary:focus,
input[type="submit"].btn-secondary:focus,
a.btn-secondary:focus {
	text-decoration: underline;
}

.btn-secondary:active,
input.btn-secondary:active,
input[type="submit"].btn-secondary:active,
a.btn-secondary:active {
	background-color: #222fa4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#222fa4), to(#222fa4));
	background-image: -webkit-linear-gradient(#222fa4, #222fa4);
	background-image: linear-gradient(#222fa4, #222fa4);
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #f3f4fa;
}

.btn-secondary:visited,
input.btn-secondary:visited,
input[type="submit"].btn-secondary:visited,
a.btn-secondary:visited {
	color: #f3f4f8;
}

/*
  Alerts
*/

.alert-box {
	position: relative;
	padding: 0.875em 1.3125em;
	margin-bottom: 0.875em;
	cursor: pointer; /* @include block-skin; */
}

.alert-box a {
	text-decoration: underline;
}

.alert-box a:hover,
.alert-box a:active,
.alert-box a:focus {
	text-decoration: none;
}

.alert-box a.close {
	position: absolute;
	top: 0.75em;
	right: 0.75em;
	display: block;
	line-height: 1;
	text-decoration: none;
}

.alert-box p {
	font-size: 1em;
	line-height: 1.75;
	padding-top: 0.4375em;
	padding-bottom: 0.4375em;
}

.alert-box.error {
	position: relative;
	padding: 0.875em 1.3125em;
	margin-bottom: 0.875em;
	cursor: pointer; /* @include block-skin; */ /* @include block-skin($error-color); */
}

.alert-box.error a {
	text-decoration: underline;
}

.alert-box.error a:hover,
.alert-box.error a:active,
.alert-box.error a:focus {
	text-decoration: none;
}

.alert-box.error a.close {
	position: absolute;
	top: 0.75em;
	right: 0.75em;
	display: block;
	line-height: 1;
	text-decoration: none;
}

.alert-box.error p {
	font-size: 1em;
	line-height: 1.75;
	padding-top: 0.4375em;
	padding-bottom: 0.4375em;
}

.alert-box.error strong {
	color: #fef5f4;
}

.alert-box.error a {
	color: #fef5f4;
}

.alert-box.success {
	position: relative;
	padding: 0.875em 1.3125em;
	margin-bottom: 0.875em;
	cursor: pointer; /* @include block-skin; */ /* @include block-skin($success-color); */
}

.alert-box.success a {
	text-decoration: underline;
}

.alert-box.success a:hover,
.alert-box.success a:active,
.alert-box.success a:focus {
	text-decoration: none;
}

.alert-box.success a.close {
	position: absolute;
	top: 0.75em;
	right: 0.75em;
	display: block;
	line-height: 1;
	text-decoration: none;
}

.alert-box.success p {
	font-size: 1em;
	line-height: 1.75;
	padding-top: 0.4375em;
	padding-bottom: 0.4375em;
}

.alert-box.success strong {
	color: #163418;
}

.alert-box.success a {
	color: #163418;
}

.alert-box.notice {
	position: relative;
	padding: 0.875em 1.3125em;
	margin-bottom: 0.875em;
	cursor: pointer; /* @include block-skin; */ /* @include block-skin($notice-color); */
}

.alert-box.notice a {
	text-decoration: underline;
}

.alert-box.notice a:hover,
.alert-box.notice a:active,
.alert-box.notice a:focus {
	text-decoration: none;
}

.alert-box.notice a.close {
	position: absolute;
	top: 0.75em;
	right: 0.75em;
	display: block;
	line-height: 1;
	text-decoration: none;
}

.alert-box.notice p {
	font-size: 1em;
	line-height: 1.75;
	padding-top: 0.4375em;
	padding-bottom: 0.4375em;
}

.alert-box.notice strong {
	color: #4c4611;
}

.alert-box.notice a {
	color: #4c4611;
}

/*
  Pagination
*/

.pagination {
	*zoom: 1;
	width: 100%;
	overflow: hidden;
}

.pagination a,
.pagination span {
	padding: 0 10px;
	border: 1px solid #F44336;
	margin-left: -1px;
}

.pagination span {
	color: #607D8B;
}

.pagination:before,
.pagination:after {
	display: table;
	content: "";
}

.pagination:after {
	clear: both;
}

.pagination ul {
	margin: 1.5em 0;
}

.pagination ul li,
.pagination ul a {
	display: block;
	float: left;
	zoom: 1;
}

.pagination a,
.pagination span {
	display: block;
	float: left;
}

.pagination--centered {
	*zoom: 1;
	width: 100%;
	overflow: hidden;
}

.pagination--centered:before,
.pagination--centered:after {
	display: table;
	content: "";
}

.pagination--centered:after {
	clear: both;
}

.pagination--centered ul {
	margin: 1.5em 0;
}

.pagination--centered ul li,
.pagination--centered ul a {
	display: block;
	float: left;
	zoom: 1;
}

.pagination--centered a,
.pagination--centered span {
	display: block;
	float: left;
}

.pagination--centered .inner {
	float: left;
	position: relative;
	left: 50%;
}

.pagination--centered ul {
	overflow: hidden;
	position: relative;
	left: -50%;
}

/*
  Icons
*/

.icon {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	display: inline-block;
	width: 40px;
	height: 40px;
	position: relative;
	top: 1px;
	background-repeat: no-repeat;
	background-position: center center;
}

.icon--menu {
	background-image: url('/img/png/nav.png');
	-webkit-background-size: 30px 30px;
	background-size: 30px 30px;
}

.svg .icon--menu {
	background-image: url('../img/svg/nav.svg');
}

.icon--close {
	background-image: url('/img/png/close.png');
	-webkit-background-size: 30px 30px;
	background-size: 30px 30px;
}

.svg .icon--close {
	background-image: url('../img/svg/close.svg');
}

.header {
	background-color: #ffffff;
	*zoom: 1;
}

.header:before,
.header:after {
	display: table;
	content: "";
}

.header:after {
	clear: both;
}

.header__logo > h1 {
	font-size: 1.25em;
	line-height: 0.6em;
	margin-bottom: 0em;
}

.header__logo > h1 > a {
	text-decoration: none;
	color: #111111;
	font-family: 'Bree Serif', serif;
	font-size: 1em;
}

.header__logo > h1 > a:active,
.header__logo > h1 > a:visited,
.header__logo > h1 > a:hover {
	color: #111111;
	text-decoration: none;
}

.nav--main {
	display: none;
}

.nav--list {
	all: initial;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.nav--list__item {
	font-family: 'open sans', sans-serif;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.nav-mobile__holder {
	-webkit-box-shadow: 1px 0px 3px 0px #1a237e;
	box-shadow: 1px 0px 3px 0px #1a237e;
}

.nav-mobile--list__item {
	font-family: 'open sans', sans-serif;
	list-style: none;
	padding-left: 0.5em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.nav-mobile--list__item > a {
	color: #ffffff;
}

.nav-mobile--list__item:hover {
	background-color: #111854;
}

.nav--list__link {
	color: #111111;
	text-decoration: none;
}

.nav--list__link:hover,
.nav--list__link:visited {
	color: #111111;
	text-decoration: none;
	border-bottom: 3px solid #2196F3;
}

.nav--list__link.is-active {
	color: #111111;
	text-decoration: none;
	border-bottom: 3px solid #2196F3;
}

.nav-mobile__holder {
	position: fixed;
	left: 0;
	top: 0;
	background-color: #1A237E;
	height: 100%;
	color: white;
}

.nav-mobile__holder.is-full {
	min-width: 50%;
}

.intro {
	position: relative;
	overflow: hidden;
	border: 1px solid rgba(255, 255, 255, 0.8);
	background-color: #ffffff;
}

.intro--header {
	padding-top: 40%;
}

.intro > img {
	position: absolute;
	top: 0;
	min-width: 100%;
	min-height: 100%;
}

.intro--title {
	color: #ffffff;
	position: absolute;
	bottom: 0;
	left: 2.25em;
	opacity: 1;
	font-size: 1.5em;
	width: 50%;
}

.blog--post {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.blog--post__intro {
	font-size: 1.1875em;
	line-height: 1.26316em;
	margin-bottom: 1.26316em;
}

.mask {
	position: relative;
	overflow: hidden;
	border: 1px solid rgba(255, 255, 255, 0.8);
	background-color: #ffffff;
}

.mask > img {
	position: absolute;
	top: 0;
	width: 100%;
}

img {
	width: 100%;
}

.ratio--one-three {
	padding-top: 25%;
}

.masonry--item {
	width: 100%;
}

.masonry--item__inner {
	padding: 0 2em 1em 0;
}

.masonry--item__inner > img {
	display: block;
}

.masonry--item__title {
	padding: 0;
}

.masonry--item__meta {
	color: #607D8B;
	font-size: 0.8em;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: 400 100%/1.5 'open sans', sans-serif;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: #111111;
}

::-moz-selection {
	background-color: #111111;
	color: #b7b7b7;
	text-shadow: none;
}

::selection {
	background-color: #111111;
	color: #b7b7b7;
	text-shadow: none;
}

hr {
	border: 1px solid #aaaaaa;
	border-width: 1px 0 0;
	clear: both;
	margin: 0 0 1.5em;
}

.holder {
	padding: 0 1em 0 4em;
}

.holder--content {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

@media (min-width: 30em) {

.bp2-grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.last-col {
	float: right;
}

.row .row {
	margin-left: -10px;
	margin-right: -10px;
}

.last-col {
	float: right;
}

thead {
	display: table-header-group;
}

th {
	display: table-cell;
	padding: 0.25em 1em 0.25em 0;
}

td {
	display: table-cell;
}

td:before {
	display: none;
}

.masonry--item {
	width: 100%;
}

}

@media (min-width: 42.5em) {

.grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-1 {
	left: 8.33333%;
}

.pull-left-1 {
	left: -8.33333%;
}

.grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-2 {
	left: 16.66667%;
}

.pull-left-2 {
	left: -16.66667%;
}

.grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-3 {
	left: 25%;
}

.pull-left-3 {
	left: -25%;
}

.grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-4 {
	left: 33.33333%;
}

.pull-left-4 {
	left: -33.33333%;
}

.grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-5 {
	left: 41.66667%;
}

.pull-left-5 {
	left: -41.66667%;
}

.grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-6 {
	left: 50%;
}

.pull-left-6 {
	left: -50%;
}

.grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-7 {
	left: 58.33333%;
}

.pull-left-7 {
	left: -58.33333%;
}

.grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-8 {
	left: 66.66667%;
}

.pull-left-8 {
	left: -66.66667%;
}

.grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-9 {
	left: 75%;
}

.pull-left-9 {
	left: -75%;
}

.grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-10 {
	left: 83.33333%;
}

.pull-left-10 {
	left: -83.33333%;
}

.grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-11 {
	left: 91.66667%;
}

.pull-left-11 {
	left: -91.66667%;
}

.grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-12 {
	left: 100%;
}

.pull-left-12 {
	left: -100%;
}

.grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-1 {
	left: 8.33333%;
}

.pull-left-1 {
	left: -8.33333%;
}

.grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-2 {
	left: 16.66667%;
}

.pull-left-2 {
	left: -16.66667%;
}

.grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-3 {
	left: 25%;
}

.pull-left-3 {
	left: -25%;
}

.grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-4 {
	left: 33.33333%;
}

.pull-left-4 {
	left: -33.33333%;
}

.grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-5 {
	left: 41.66667%;
}

.pull-left-5 {
	left: -41.66667%;
}

.grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-6 {
	left: 50%;
}

.pull-left-6 {
	left: -50%;
}

.grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-7 {
	left: 58.33333%;
}

.pull-left-7 {
	left: -58.33333%;
}

.grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-8 {
	left: 66.66667%;
}

.pull-left-8 {
	left: -66.66667%;
}

.grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-9 {
	left: 75%;
}

.pull-left-9 {
	left: -75%;
}

.grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-10 {
	left: 83.33333%;
}

.pull-left-10 {
	left: -83.33333%;
}

.grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-11 {
	left: 91.66667%;
}

.pull-left-11 {
	left: -91.66667%;
}

.grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-12 {
	left: 100%;
}

.pull-left-12 {
	left: -100%;
}

input[type="input"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[name="field_country_code"],
input[name="field_city_code"],
input[name="field_phone_int"],
select[multiple],
textarea {
	padding-left: 0.15625em;
	padding-right: 0.15625em;
	font-size: 1em;
	line-height: 1.3125;
	padding-top: 0.875em;
	padding-bottom: 0.875em;
	height: 3.0625em;
}

input[type="submit"],
button {
	padding-left: 0.15625em;
	padding-right: 0.15625em;
	font-size: 1em;
	line-height: 1.3125;
	padding-top: 0.875em;
	padding-bottom: 0.875em;
	height: 3.0625em;
	display: inline-block;
	width: auto;
}

.media__img {
	margin-bottom: 0;
}

.btn,
a.btn,
input.btn,
input[type="submit"].btn,
.btn-secondary,
input.btn-secondary,
input[type="submit"].btn-secondary,
a.btn-secondary {
	padding-left: 0.46875em;
	padding-right: 0.46875em;
	font-size: 1em;
	line-height: 1.3125;
	padding-top: 0.875em;
	padding-bottom: 0.875em;
	height: 3.0625em;
	display: inline-block;
	width: auto;
}

.header__logo > h1 {
	font-size: 1.25em;
	line-height: 0.9em;
	margin-bottom: 0em;
}

.header__logo {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.nav--main {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.nav-mobile__holder {
	display: none;
}

.intro--header {
	padding-top: 25%;
}

.intro--title {
	width: 30%;
	left: 0.8em;
	font-size: 2em;
}

.masonry--item {
	width: 50%;
}

.holder {
	padding: 0 1.5em;
}

.holder--content {
	width: 60%;
	margin: 0 auto;
}

}

@media (min-width: 60em) {

.bp4-grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.header__logo > h1 {
	font-size: 1.5em;
	line-height: 0.5em;
	margin-bottom: 0em;
}

.masonry--item {
	width: 33.33333%;
}

}

@media (min-width: 71.25em) {

.bp5-grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

input[type="input"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[name="field_country_code"],
input[name="field_city_code"],
input[name="field_phone_int"],
select[multiple],
textarea {
	padding-left: 0.15625em;
	padding-right: 0.15625em;
	font-size: 1.3em;
	line-height: 1.00962;
	padding-top: 0.67308em;
	padding-bottom: 0.67308em;
	height: 2.35577em;
}

input[type="submit"],
button {
	padding-left: 0.15625em;
	padding-right: 0.15625em;
	font-size: 1.3em;
	line-height: 1.00962;
	padding-top: 0.67308em;
	padding-bottom: 0.67308em;
	height: 2.35577em;
}

.btn,
a.btn,
input.btn,
input[type="submit"].btn,
.btn-secondary,
input.btn-secondary,
input[type="submit"].btn-secondary,
a.btn-secondary {
	padding-left: 0.625em;
	padding-right: 0.625em;
	font-size: 1.3em;
	line-height: 1.00962;
	padding-top: 0.67308em;
	padding-bottom: 0.67308em;
	height: 2.35577em;
}

html {
	font-size: 112.5%;
}

}

@media (min-width: 81.25em) {

.masonry--item {
	width: 25%;
}

}

@media print {

* {
	background: transparent !important;
	color: black !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
	-webkit-filter: none !important;
	filter: none !important;
}

h2,
h3 {
	orphans: 3;
	widows: 3;
	page-break-after: avoid;
}

p {
	orphans: 3;
	widows: 3;
}

pre,
blockquote {
	border: 1px solid #ccc;
	page-break-inside: avoid;
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

a,
a:visited {
	text-decoration: underline;
}

a[href]:after {
	content: " (" attr(href) ")";
}

a[href^="javascript:"]:after,
a[href^="#"]:after {
	content: "";
}

img {
	max-width: 100% !important;
	page-break-inside: avoid;
}

thead {
	display: table-header-group;
}

tr {
	page-break-inside: avoid;
}

}

