.grid-1 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-2 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-3 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-4 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-5 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-6 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-7 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-8 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-9 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-10 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-11 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.row {
	margin: 0 auto;
	max-width: 100%;
}

.row .row {
	padding: 0;
}

.full-width {
	margin: 0 auto;
}

.grid-1 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-2 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-3 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-4 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-5 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-6 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-7 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-8 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-9 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-10 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-11 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

/*
 Reset
*/

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section,
main {
	display: block;
}

/*
  Buttons
*/

.btn,
a.btn,
input.btn,
input[type="submit"].btn,
.btn--primary,
input.btn--primary,
input[type="submit"].btn-secondary,
a.btn-secondary {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: 'open sans', sans-serif;
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: all 0.22s ease-in-out;
	transition: all 0.22s ease-in-out;
	-webkit-transition-property: background, color, border;
	transition-property: background, color, border;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	padding-left: 1.25em;
	padding-right: 1.25em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.btn:hover,
.btn:visited,
a.btn:hover,
a.btn:visited,
input.btn:hover,
input.btn:visited,
input[type="submit"].btn:hover,
input[type="submit"].btn:visited,
.btn--primary:hover,
.btn--primary:visited,
input.btn--primary:hover,
input.btn--primary:visited,
input[type="submit"].btn-secondary:hover,
input[type="submit"].btn-secondary:visited,
a.btn-secondary:hover,
a.btn-secondary:visited {
	text-decoration: none;
}

.btn,
a.btn {
	border: 1px solid #2e3a4a;
	background-color: #2e3a4a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2e3a4a), to(#2e3a4a));
	background-image: -webkit-linear-gradient(#2e3a4a, #2e3a4a);
	background-image: linear-gradient(#2e3a4a, #2e3a4a);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
	color: #f4f5f5;
}

.btn:hover,
.btn:focus,
a.btn:hover,
a.btn:focus {
	border: 2px solid #bc584b;
	background-color: #405066;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#405066), to(#405166));
	background-image: -webkit-linear-gradient(#405066, #405166);
	background-image: linear-gradient(#405066, #405166);
	color: #f5f6f7;
}

.btn:focus,
a.btn:focus {
	text-decoration: underline;
}

.btn:active,
a.btn:active {
	background-color: #405066;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#405166), to(#405066));
	background-image: -webkit-linear-gradient(#405166, #405066);
	background-image: linear-gradient(#405166, #405066);
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #f5f6f7;
}

.btn:visited,
a.btn:visited {
	color: #f4f5f5;
}

.btn--primary,
input.btn--primary,
input[type="submit"].btn--primary,
a.btn--primary {
	border: 2px solid #bb5547;
}

/*
  Alerts
*/

.alert-box {
	position: relative;
	cursor: pointer;
	background-color: #d79f3d;
	text-align: center;
	padding: 1em 4em;
}

.alert-box a {
	text-decoration: underline;
}

.alert-box a:hover,
.alert-box a:active,
.alert-box a:focus {
	text-decoration: none;
}

.alert-box a.close {
	position: absolute;
	top: 0.75em;
	right: 0.75em;
	display: block;
	line-height: 1;
	text-decoration: none;
}

.alert-box p {
	font-size: 1em;
	line-height: 1.75;
	padding-top: 0.4375em;
	padding-bottom: 0.4375em;
}

.alert-box .icon--close {
	position: absolute;
	right: 10px;
	top: 5px;
}

.alert-box.error {
	position: relative;
	cursor: pointer;
	background-color: #d79f3d;
	text-align: center;
	padding: 1em 4em; /* @include block-skin($error-color); */
}

.alert-box.error a {
	text-decoration: underline;
}

.alert-box.error a:hover,
.alert-box.error a:active,
.alert-box.error a:focus {
	text-decoration: none;
}

.alert-box.error a.close {
	position: absolute;
	top: 0.75em;
	right: 0.75em;
	display: block;
	line-height: 1;
	text-decoration: none;
}

.alert-box.error p {
	font-size: 1em;
	line-height: 1.75;
	padding-top: 0.4375em;
	padding-bottom: 0.4375em;
}

.alert-box.error .icon--close {
	position: absolute;
	right: 10px;
	top: 5px;
}

.alert-box.error strong {
	color: #fbf6f5;
}

.alert-box.error a {
	color: #fbf6f5;
}

.alert-box.success {
	position: relative;
	cursor: pointer;
	background-color: #d79f3d;
	text-align: center;
	padding: 1em 4em; /* @include block-skin($success-color); */
}

.alert-box.success a {
	text-decoration: underline;
}

.alert-box.success a:hover,
.alert-box.success a:active,
.alert-box.success a:focus {
	text-decoration: none;
}

.alert-box.success a.close {
	position: absolute;
	top: 0.75em;
	right: 0.75em;
	display: block;
	line-height: 1;
	text-decoration: none;
}

.alert-box.success p {
	font-size: 1em;
	line-height: 1.75;
	padding-top: 0.4375em;
	padding-bottom: 0.4375em;
}

.alert-box.success .icon--close {
	position: absolute;
	right: 10px;
	top: 5px;
}

.alert-box.success strong {
	color: #1f302c;
}

.alert-box.success a {
	color: #1f302c;
}

.alert-box.notice {
	background-color: #d79f3d;
	*zoom: 1;
}

.alert-box.notice a {
	color: #402f12;
}

.alert-box.notice:before,
.alert-box.notice:after {
	display: table;
	content: "";
}

.alert-box.notice:after {
	clear: both;
}

/* @import "objects/pagination"; */

/*
  Icons
*/

.icon {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	display: inline-block;
	width: 50px;
	height: 50px;
	position: relative;
	top: 1px;
	background-repeat: no-repeat;
	background-position: center center;
}

.icon--menu {
	background-image: url('/img/png/nav.png');
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}

.svg .icon--menu {
	background-image: url('../img/svg/nav.svg');
}

.icon--close {
	background-image: url('/img/png/close.png');
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}

.svg .icon--close {
	background-image: url('../img/svg/close.svg');
}

.icon--twitter {
	background-image: url('/img/png/twitter.png');
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
}

.svg .icon--twitter {
	background-image: url('../img/svg/twitter.svg');
}

.icon--facebook {
	background-image: url('/img/png/facebook.png');
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
}

.svg .icon--facebook {
	background-image: url('../img/svg/facebook.svg');
}

.icon--linkedin {
	background-image: url('/img/png/linkedin.png');
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
}

.svg .icon--linkedin {
	background-image: url('../img/svg/linkedin.svg');
}

form {
	padding: 0 0 0.875em;
}

legend,
label {
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 1em;
	line-height: 1.75;
	padding-top: 1.3125em;
	padding-bottom: 0.4375em;
}

input[type="input"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[name="field_country_code"],
input[name="field_city_code"],
input[name="field_phone_int"],
select[multiple],
textarea {
	-webkit-appearance: none;
	font-smoothing: antialiased;
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #506175;
	color: white;
	font-family: 'open sans', sans-serif;
	margin: 0;
	width: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0.15625em;
	padding-right: 0.15625em;
	font-size: 1em;
	line-height: 1.3125;
	padding-top: 0.4375em;
	padding-bottom: 0.4375em;
	height: 2.1875em;
}

input[type="input"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[name="field_country_code"]:focus,
input[name="field_city_code"]:focus,
input[name="field_phone_int"]:focus,
select[multiple]:focus,
textarea:focus {
	color: #ffffff;
	outline-color: #506175;
	border-color: #272f38;
}

textarea {
	height: auto;
}

::-webkit-input-placeholder {
	font-family: 'Roboto Slab', serif;
	font-style: italic;
}

::-moz-placeholder {
	font-family: 'Roboto Slab', serif;
	font-style: italic;
}

:-ms-input-placeholder {
	font-family: 'Roboto Slab', serif;
	font-style: italic;
}

input[type="submit"],
button {
	padding-left: 1.25em;
	padding-right: 1.25em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	border: 1px solid #2e3a4a;
	background-color: #2e3a4a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2e3a4a), to(#2e3a4a));
	background-image: -webkit-linear-gradient(#2e3a4a, #2e3a4a);
	background-image: linear-gradient(#2e3a4a, #2e3a4a);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
	color: #f4f5f5;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
button:hover,
button:focus {
	border: 2px solid #bc584b;
	background-color: #405066;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#405066), to(#405166));
	background-image: -webkit-linear-gradient(#405066, #405166);
	background-image: linear-gradient(#405066, #405166);
	color: #f5f6f7;
}

input[type="submit"]:focus,
button:focus {
	text-decoration: underline;
}

input[type="submit"]:active,
button:active {
	background-color: #405066;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#405166), to(#405066));
	background-image: -webkit-linear-gradient(#405166, #405066);
	background-image: linear-gradient(#405166, #405066);
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #f5f6f7;
}

input[type="submit"]:visited,
button:visited {
	color: #f4f5f5;
}

/*
  Grid
*/

.row {
	*zoom: 1;
	margin: 0 auto;
	max-width: 75em;
}

.row:before,
.row:after {
	display: table;
	content: "";
}

.row:after {
	clear: both;
}

.row .row {
	padding: 0;
}

.row .row {
	padding: 0;
}

.is-hidden {
	display: none;
}

.pB {
	padding-top: 0em;
	padding-bottom: 1.5em;
}

.pT {
	padding-top: 1.5em;
	padding-bottom: 0em;
}

.mT {
	margin-top: 1.5em;
	margin-bottom: 0em;
}

.mB {
	margin-top: 0em;
	margin-bottom: 1.5em;
}

.l-right {
	float: right;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}

/*
  Media object
*/

.media {
	*zoom: 1;
	margin-top: 0em;
	margin-bottom: 1.5em;
}

.media:before,
.media:after {
	display: table;
	content: "";
}

.media:after {
	clear: both;
}

.media__img {
	float: left;
	margin-bottom: 1.5em;
}

.media__img img {
	display: block;
}

.media__img--reverse {
	float: right;
}

.media__body {
	overflow: hidden;
	padding-left: 0.625em;
	padding-right: 0.625em;
}

/*
  Tables
*/

table {
	text-align: left;
	width: 100%;
	font-family: 'open sans', sans-serif;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 0.875em;
	line-height: 1.71429em;
	margin-bottom: 3.42857em;
}

tr {
	border-bottom: 1px solid #5a6e84;
}

th,
thead {
	display: none;
}

td {
	display: block;
	padding: 0.25em 1em 0.25em 0;
}

td:before {
	content: attr(headers) ": ";
	font-weight: bold;
	width: 50%;
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	text-rendering: optimizelegibility;
}

.h1,
h1 {
	font-size: 2.197em;
	line-height: 1.39395;
	padding-top: 0.59741em;
	padding-bottom: 0.59741em;
}

.h2,
h2 {
	font-size: 1.69em;
	line-height: 1.29438;
	padding-top: 0.51775em;
	padding-bottom: 0.51775em;
}

.h3,
h3 {
	font-size: 1.3em;
	line-height: 1.34615;
	padding-top: 0.33654em;
	padding-bottom: 0.33654em;
}

.h4,
h4,
.h5,
h5,
.h6,
h6 {
	font-weight: 400;
	font-size: 1em;
	line-height: 1.75;
	padding-top: 1.3125em;
	padding-bottom: 0.4375em;
}

p,
ol,
ul,
dl,
table,
address {
	font-size: 1em;
	line-height: 1.75;
	padding-top: 0.4375em;
	padding-bottom: 0.875em;
}

pre {
	-moz-tab-size: 2;
	tab-size: 2;
	overflow: auto;
}

blockquote {
	text-align: center;
	font-style: italic;
	border-bottom: 2px solid #b6bec9;
	border-top: 2px solid #b6bec9;
	width: 75%;
	margin: 0 auto;
	padding: 1em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

caption {
	font-family: 'open sans', sans-serif;
	text-align: left;
	border-bottom: 1px solid white;
	font-weight: 400;
	text-align: center;
	padding-bottom: 0.75em;
	margin-bottom: 0.75em;
}

a,
a:hover,
a:active,
a:focus {
	color: #ffffff;
	text-decoration: none;
}

.text-link {
	text-decoration: none;
	color: #ffffff;
	border-bottom: 3px solid #69a193;
	-webkit-transition: color 0.22s ease-in-out;
	transition: color 0.22s ease-in-out;
	cursor: pointer;
}

.text-link:visited {
	text-decoration: none;
	color: #ffffff;
	border-bottom: 3px solid #69a193;
}

.text-link:hover {
	text-decoration: none;
	color: #ffffff;
	border-bottom: 3px solid #538477;
}

.text-link:focus {
	text-decoration: none;
	color: #ffffff;
	border-bottom: 3px solid #538477;
}

.text-link:hover,
.text-link:active {
	outline: 0;
}

.ui-list > li {
	list-style-type: none;
}

.header__logo {
	text-align: center;
	font-size: 1.25em;
	line-height: 0em;
	margin-bottom: 0em;
}

.header__divider {
	width: 100px;
	margin: 0 auto;
}

.nav--holder {
	position: absolute;
	right: 10px;
	top: 10px;
}

.nav--main {
	background-color: #506175;
	border-left: 1px solid #2e3a4a;
	position: fixed;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	z-index: 999;
}

.nav--list {
	list-style: none;
	float: right;
	width: 100%;
}

.nav--list__item {
	text-align: right;
	padding-right: 1em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.nav--list__item:hover {
	background-color: #3b4857;
}

/* .intro {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba($white, 0.8);
  background-color: $white;
}

.intro--header {
  padding-top: 40%;
  @include mq($bp3){
    padding-top: 25%;
  }
}

.intro > img {
  	position: absolute;
  	top: 0;
  	min-width: 100%;
    min-height: 100%;
}

.intro--title {
  color: $white;
  position: absolute;
  bottom: 0;
  left: 2.25em;

  opacity: 1;

  font-size: 1.5em;

  width: 50%;
  @include mq($bp3) {
    width: 30%;
    left: 0.8em;
    font-size: 2em;
  }
}
 */

.blog--post {
	padding-top: 1.5em;
	padding-bottom: 0em;
	margin-top: 0em;
	margin-bottom: 1.5em;
}

.blog--post + .blog--post {
	border-top: 1px solid #506175;
}

.blog--title-holder {
	padding-top: 0em;
	padding-bottom: 1.5em;
}

.blog--item__title {
	padding: 0;
}

.blog--item__meta {
	font-size: 0.875em;
	line-height: 0em;
	margin-bottom: 0em;
}

.blog--content-holder {
	text-align: justify;
}

.post--title {
	position: relative;
	background-color: #bb5547;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.post--title > h1 {
	position: absolute;
	bottom: 0;
	left: 10px;
	overflow: hidden;
}

.post--share-buttons > a {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #69a193;
}

.mask {
	position: relative;
	overflow: hidden;
	border: 1px solid rgba(255, 255, 255, 0.8);
	background-color: #ffffff;
}

.mask > img {
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
}

img {
	width: 100%;
}

.ratio--one-quarter {
	min-height: 135px;
	padding-top: 25%;
}

.ratio--one-three {
	padding-top: 33%;
}

.ratio--two-three {
	padding-top: 66%;
}

.ratio--square {
	padding-top: 100%;
}

.ratio--one-fifth {
	min-height: 135px;
	padding-top: 20%;
}

/* @import "components/masonry"; */

.footer--holder {
	background-color: #69a193;
	text-align: right;
	padding: 0.5em;
}

.work--item {
	padding: 0 1em;
	margin-top: 0em;
	margin-bottom: 3em;
}

.work--item.left {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 0px;
	padding-right: 20px;
	text-align: right;
	border-right: 3px solid #69a193;
}

.work--item.right {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 20px;
	padding-right: 0px;
	float: right;
	text-align: left;
	border-left: 3px solid #69a193;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	background-color: #2e3a4a;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: 400 100%/1.5 'open sans', sans-serif;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: #ffffff;
}

::-moz-selection {
	background-color: #ffffff;
	color: white;
	text-shadow: none;
}

::selection {
	background-color: #ffffff;
	color: white;
	text-shadow: none;
}

hr {
	border: 1px solid white;
	border-width: 1px 0 0;
	clear: both;
	margin: 0 0 1.5em;
}

.holder {
	padding: 0 1em 0 1em;
}

.holder--content {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

@media (min-width: 30em) {

.bp2-grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp2-grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.last-col {
	float: right;
}

.row .row {
	margin-left: -10px;
	margin-right: -10px;
}

.last-col {
	float: right;
}

thead {
	display: table-header-group;
}

th {
	display: table-cell;
	padding: 0.25em 1em 0.25em 0;
}

td {
	display: table-cell;
}

td:before {
	display: none;
}

}

@media (min-width: 42.5em) {

.grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-1 {
	left: 8.33333%;
}

.pull-left-1 {
	left: -8.33333%;
}

.grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-2 {
	left: 16.66667%;
}

.pull-left-2 {
	left: -16.66667%;
}

.grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-3 {
	left: 25%;
}

.pull-left-3 {
	left: -25%;
}

.grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-4 {
	left: 33.33333%;
}

.pull-left-4 {
	left: -33.33333%;
}

.grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-5 {
	left: 41.66667%;
}

.pull-left-5 {
	left: -41.66667%;
}

.grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-6 {
	left: 50%;
}

.pull-left-6 {
	left: -50%;
}

.grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-7 {
	left: 58.33333%;
}

.pull-left-7 {
	left: -58.33333%;
}

.grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-8 {
	left: 66.66667%;
}

.pull-left-8 {
	left: -66.66667%;
}

.grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-9 {
	left: 75%;
}

.pull-left-9 {
	left: -75%;
}

.grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-10 {
	left: 83.33333%;
}

.pull-left-10 {
	left: -83.33333%;
}

.grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-11 {
	left: 91.66667%;
}

.pull-left-11 {
	left: -91.66667%;
}

.grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp3-grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-12 {
	left: 100%;
}

.pull-left-12 {
	left: -100%;
}

.grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-1 {
	left: 8.33333%;
}

.pull-left-1 {
	left: -8.33333%;
}

.grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-2 {
	left: 16.66667%;
}

.pull-left-2 {
	left: -16.66667%;
}

.grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-3 {
	left: 25%;
}

.pull-left-3 {
	left: -25%;
}

.grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-4 {
	left: 33.33333%;
}

.pull-left-4 {
	left: -33.33333%;
}

.grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-5 {
	left: 41.66667%;
}

.pull-left-5 {
	left: -41.66667%;
}

.grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-6 {
	left: 50%;
}

.pull-left-6 {
	left: -50%;
}

.grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-7 {
	left: 58.33333%;
}

.pull-left-7 {
	left: -58.33333%;
}

.grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-8 {
	left: 66.66667%;
}

.pull-left-8 {
	left: -66.66667%;
}

.grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-9 {
	left: 75%;
}

.pull-left-9 {
	left: -75%;
}

.grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-10 {
	left: 83.33333%;
}

.pull-left-10 {
	left: -83.33333%;
}

.grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-11 {
	left: 91.66667%;
}

.pull-left-11 {
	left: -91.66667%;
}

.grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.push-left-12 {
	left: 100%;
}

.pull-left-12 {
	left: -100%;
}

.btn,
a.btn,
input.btn,
input[type="submit"].btn,
.btn--primary,
input.btn--primary,
input[type="submit"].btn-secondary,
a.btn-secondary {
	padding-left: 1.25em;
	padding-right: 1.25em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	display: inline-block;
	width: auto;
}

input[type="input"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[name="field_country_code"],
input[name="field_city_code"],
input[name="field_phone_int"],
select[multiple],
textarea {
	padding-left: 0.15625em;
	padding-right: 0.15625em;
	font-size: 1em;
	line-height: 1.3125;
	padding-top: 0.875em;
	padding-bottom: 0.875em;
	height: 3.0625em;
}

input[type="submit"],
button {
	padding-left: 0.15625em;
	padding-right: 0.15625em;
	font-size: 1em;
	line-height: 1.3125;
	padding-top: 0.875em;
	padding-bottom: 0.875em;
	height: 3.0625em;
	display: inline-block;
	width: auto;
}

.media__img {
	margin-bottom: 0;
}

.blog--post {
	padding-top: 3em;
	padding-bottom: 0em;
	margin-top: 0em;
	margin-bottom: 3em;
	*zoom: 1;
}

.blog--post:before,
.blog--post:after {
	display: table;
	content: "";
}

.blog--post:after {
	clear: both;
}

.blog--title-holder {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 0px;
	padding-right: 10px;
}

.blog--content-holder {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 0px;
	float: right;
}

.holder {
	padding: 0 1.5em;
}

.holder--content {
	width: 70%;
	margin: 0 auto;
}

}

@media (min-width: 60em) {

.bp4-grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp4-grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.post--title > h1 {
	width: 30%;
}

}

@media (min-width: 71.25em) {

.bp5-grid-1 {
	width: 8.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-2 {
	width: 16.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-3 {
	width: 25%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-4 {
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-5 {
	width: 41.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-6 {
	width: 50%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-7 {
	width: 58.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-8 {
	width: 66.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-9 {
	width: 75%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-10 {
	width: 83.33333%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-11 {
	width: 91.66667%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.bp5-grid-12 {
	width: 100%;
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.btn,
a.btn,
input.btn,
input[type="submit"].btn,
.btn--primary,
input.btn--primary,
input[type="submit"].btn-secondary,
a.btn-secondary {
	padding-left: 1.25em;
	padding-right: 1.25em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

input[type="input"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[name="field_country_code"],
input[name="field_city_code"],
input[name="field_phone_int"],
select[multiple],
textarea {
	padding-left: 0.15625em;
	padding-right: 0.15625em;
	font-size: 1.3em;
	line-height: 1.00962;
	padding-top: 0.67308em;
	padding-bottom: 0.67308em;
	height: 2.35577em;
}

input[type="submit"],
button {
	padding-left: 0.15625em;
	padding-right: 0.15625em;
	font-size: 1.3em;
	line-height: 1.00962;
	padding-top: 0.67308em;
	padding-bottom: 0.67308em;
	height: 2.35577em;
}

html {
	font-size: 112.5%;
}

}

@media print {

* {
	background: transparent !important;
	color: black !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
	-webkit-filter: none !important;
	filter: none !important;
}

h2,
h3 {
	orphans: 3;
	widows: 3;
	page-break-after: avoid;
}

p {
	orphans: 3;
	widows: 3;
}

pre,
blockquote {
	border: 1px solid #ccc;
	page-break-inside: avoid;
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

a,
a:visited {
	text-decoration: underline;
}

a[href]:after {
	content: " (" attr(href) ")";
}

a[href^="javascript:"]:after,
a[href^="#"]:after {
	content: "";
}

img {
	max-width: 100% !important;
	page-break-inside: avoid;
}

thead {
	display: table-header-group;
}

tr {
	page-break-inside: avoid;
}

}

