// Alerts

@mixin alert {
	position: relative;
	cursor: pointer;
	background-color: $yellow;
	text-align: center;

	padding: 1em 4em;;

	a {
		text-decoration: underline;
	}

	a:hover,
	a:active,
	a:focus {
		text-decoration: none;
	}

	a.close {
		position: absolute;
		top: #{$alpha-line-height/2}em;
		right: #{$alpha-line-height/2}em;
		display: block;
		line-height: 1;
		text-decoration: none;
	}

	p {
		@include baseline-dimensions(0,1,1);
	}

	.icon--close {
		position: absolute;
		right: 10px;
		top: 5px;
	}
}

@mixin alert-error {
	@include alert;
	/* @include block-skin($error-color); */

	strong {@include text-color($error-color);}

	a {
		@include text-color($error-color);
	}
}

@mixin alert-success {
	@include alert;
	/* @include block-skin($success-color); */

	strong {@include text-color($success-color);}

	a {
		@include text-color($success-color);
	}
}

@mixin alert-notice {
	background-color: $yellow;

	a {
		@include text-color($notice-color);
	}

	@include clearfix;
}
