/*
    Components: Icons
    ---
    UI icons
*/

.c-icon {
    display             : inline-block;
    width               : 16px;
    height              : 16px;
    position            : relative;
    top                 : 1px;
    background-repeat   : no-repeat;
    background-position : center top;

    @include hide-text;
}

.c-icon--toggle {
    background-image: url('../img/png/toggle--sprite.png');

    .svg & {
        background-image: url('../img/svg/toggle--sprite.svg');
    }

    .is-toggled & {
        background-position: center -46px;
    }
}

/*
    Component: Icons
    ---
    Icon styling
*/

@mixin icon {
    display             : inline-block;
    position            : relative;
    background-repeat   : no-repeat;
    background-position : center top;

    @include hide-text;
}

.c-icon--twitter {
    opacity: .7;
    &:hover {
      opacity: 1;
    }

    top              : 5px;
    width            : 30px;
    height           : 30px;
    background-image : url('../img/svg/c-icon--twitter.svg');
    background-size  : 20px auto;

    @include icon;
}

.c-icon--twitter--dark {
    top              : 5px;
    width            : 30px;
    height           : 30px;
    background-image : url('../img/svg/c-icon--twitter--dark.svg');
    background-size  : 30px auto;

    @include icon;
}

.c-icon--facebook {
    opacity: .7;
    &:hover {
      opacity: 1;
    }

    top              : 5px;
    width            : 30px;
    height           : 30px;
    background-image : url('../img/svg/c-icon--facebook.svg');
    background-size  : 20px auto;

    @include icon;
}

.c-icon--github {
    opacity: .7;
    &:hover {
      opacity: 1;
    }

    top              : 5px;
    width            : 30px;
    height           : 30px;
    background-image : url('../img/svg/c-icon--github.svg');
    background-size  : 20px auto;

    @include icon;
}

.c-icon--instagram {
    opacity: .7;
    &:hover {
      opacity: 1;
    }

    top              : 5px;
    width            : 30px;
    height           : 30px;
    background-image : url('../img/svg/c-icon--instagram.svg');
    background-size  : 20px auto;

    @include icon;
}

.c-icon--linkedin {
    opacity: .7;
    &:hover {
      opacity: 1;
    }

    top              : 5px;
    width            : 30px;
    height           : 30px;
    background-image : url('../img/svg/c-icon--linkedin.svg');
    background-size  : 20px auto;

    @include icon;
}

.c-icon--goodreads {
    opacity: .7;
    &:hover {
      opacity: 1;
    }

    top              : 5px;
    width            : 30px;
    height           : 30px;
    background-image : url('../img/svg/c-icon--goodreads.svg');
    background-size  : 20px auto;

    @include icon;
}