/*
    Component: icons
    ---
    Icons
*/

.c-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 1px;
    background-repeat: no-repeat;
    background-position: center center;

    @include hide-text;
}

.c-icon--toggle {
    background-image: url('../img/png/toggle--sprite.png');

    .svg & {
        background-image: url('../img/svg/toggle--sprite.svg');
    }

    .is-toggled & {
        background-position: center -16px;
    }
}

.c-icon--home {
    background-image: url('../img/svg/c-nav--home.svg');
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    width: 55px;
    height: 50px;
}

.c-icon--blog {
    background-image: url('../img/svg/c-nav--blog.svg');
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    width: 55px;
    height: 50px;
}

.c-icon--projects {
    background-image: url('../img/svg/c-nav--projects.svg');
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    width: 55px;
    height: 50px;
}

.c-icon--timeline {
    background-image: url('../img/svg/c-nav--timeline.svg');
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    width: 55px;
    height: 50px;
}

.c-icon--contact {
    background-image: url('../img/svg/c-nav--contact.svg');
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    width: 55px;
    height: 50px;
}