/*
    Components: Navigation
    ---
    Site navigation, breadcrumbs, etc.
*/

.c-nav-main {
    width             : 100%;

    @include margin-top(2);
}

.c-nav-main__list {
    list-style        : none;

    @include padding-lr(3,4);
}

.c-nav-main__list-item {
}

.c-nav-main__list-item + .c-nav-main__list-item {
    border-top        : 1px dotted white
}

.c-nav-main__link:visited,
.c-nav-main__link {
    display           : block;
    color             : white;
    text-decoration   : none;
    @include padding-tb(1,1);
}

.c-nav-main__link:hover {
    text-decoration   : none;
    background-color  : white;
    color             : $color-alpha;
}