.c-header {

}

.c-header-main {
  background-color: $color-alpha;
  color: white;
  text-align: center;

  position: fixed;
  left: -19em;

  width: 22em;
  height: 100%;

  transition: left .5s;

  &.is-active {
    left: 0;
  }

  @include mq($bp3) {
    left: 0;
  }

  @include padding-tb(2,2);
}

  .c-header__image {
    height: 75px;
    border-radius: 50%;
    @include margin-bottom(.5);

    @include mq($bp3) {
      height: 150px;
    }
  }

  .c-header__title {
    @include text-dimensions($ms2,2);

    @include mq($bp3) {
      @include text-dimensions($ms4,2);
    }
    font-weight: $beta-font-weight;
  }

  .c-header__subtitle {
    color: white;
    @include text-dimensions($ms1,1);

    @include mq($bp3) {
      @include text-dimensions($ms2,1);
    }
  }

  .c-header__link {
    .c-header__title,
    .c-header__subtitle {
      color: white;
    }

    &:hover {
        color: white;
        text-decoration: none;
        border-bottom: none;
    }
  }

  .c-header__trigger {
    font-size: 0;
    position: absolute;
    top: 50%;
    right: 1em;
    margin-right: 1em;
    height: 30px;
    width: 50px;
    z-index: 90;
    @include mq($bp3) {
      display: none;
    }

    &.is-open {
      background: url('/img/svg/c-icon--closed.svg');
      background-repeat: no-repeat;
      background-size: 30px 30px;
      background-position: center center;
      transform: rotate(180deg);
    }

    &.is-closed {
      background: url('/img/svg/c-icon--closed.svg');
      background-repeat: no-repeat;
      background-size: 30px 30px;
      background-position: center center;
    }
  }

  .c-header__contact {
    position: absolute;
    bottom: 0;

    width: 100%;

    @include padding-tb(.5,.5);

    a {
      color: white;
    }
  }