.c-project__item {
  &:hover {
    img {

      border: 5px solid white;
      outline: 1px solid palette(color-neutral, dark);
    }
  }

  min-height: 310px;
}

.c-project__title {
  margin-bottom: 0;
}

.c-project__info {
  color: $color-neutral;
  font-size: .8em;
}


.c-project__client {
  img {
    border: none;
    outline: none;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    &:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    }
  }
}