.c-project__item {
  &:hover {
    img {

      border: 5px solid white;
      outline: 1px solid palette(color-neutral, dark);
    }
  }
}

.c-project__title {
  min-height: 55px;
}


.c-project__client {
  img {
    border: none;
    outline: none;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    &:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    }
  }
}