.c-holder {
  // Holder visible on mobile and desktop
  @include margin-left(3);
  @include padding-lr(1,1);
  @include padding-tb(2,2);

  @include mq($bp3) {
    @include margin-left(22);
    @include padding-lr(5,5);
    @include padding-tb(4,4);
  }
}

.c-holder__inner {
  @include mq($bp4) {
    max-width: 40em;
    margin: 0 auto;
  }
}

.c-holder--alpha {
  background-color: #ddd;

  @include padding-lr(2,2);
  @include padding-tb(2,2);
}
