.c-cta {
  @include padding-tb(1,1);
  @include padding-lr(1,1);
}

.c-cta--blog {
  background-color: $color-cta;
  color: white;
  a {
    color: white;
    font-weight: $beta-font-weight;
    border-bottom: 1px solid white;
  }
}