/*
    Elements: Typography
    ---
    Default markup for typographic elements
*/

.u-h1, h1,
.u-h2, h2,
.u-h3, h3,
.u-h4, h4,
.u-h5, h5,
.u-h6, h6 {
    @include margin-bottom($alpha-leading);
}

.u-h1, h1 {
    font-weight: $alpha-font-weight;
    @include text-dimensions($ms6,2);
}

.u-h2, h2 {
    font-weight: $beta-font-weight;
    @include text-dimensions($ms4,1.5);
}

.u-h3, h3 {
    font-weight: $beta-font-weight;
    @include text-dimensions($ms2,1.25);
}

.u-h4, h4,
.u-h5, h5,
.u-h6, h6 {
    font-weight: $beta-font-weight;
    @include text-dimensions($alpha-font-size,1);
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
    margin-top: 1em;
}

p + p,
ol + ol,
ul + ul,
dl + dl,
table + table,
address + address {
    display: block;
}

p {
    @include margin-bottom($alpha-leading);
}

pre {
    tab-size: 2;
}

ul,
ol,
blockquote {
    padding-left: 2em;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

blockquote {
    font-style: italic;
}

small {
    @include text-dimensions($ms-1,1,$alpha-line-height);
}

hr {
    border: 1px dotted palette(color-alpha,x-light);
    border-width: 1px 0 0;
    clear: both;
    margin-top: 0;
    @include margin-bottom(1);
}

// Links

a {
    text-decoration: none;
    color: palette(color-alpha);
    transition: color .22s ease-in-out;

    &:visited {
        color: palette(color-alpha);
    }

    &:hover {
        text-decoration: none;
        color: palette(color-alpha,light);
    }

    &:focus {
        outline: thin dotted;
        color: palette(color-alpha,light);
    }

    &:hover,
    &:active {
        outline: 0;
    }
}
