/*
    Elements: Images
    ---
    Default markup for images
*/

// Fix a > img problem

img {
    max-width: 100%;
    vertical-align: top;
    border: 0;
    border: 5px solid white;
    outline: 1px solid $color-neutral;

    @include margin-bottom(1)
}


.u-no-border {
  border: none;
  outline: none;
}