/*
    Object: Blog
    ---
*/

.o-blog {

}

.o-blog--post {
  border-bottom: 2px solid #eee;
}

.o-blog--item__title {
  margin: 0;
}

.o-blog--post {
  @include padding-tb(0,1);
}

.o-blog--post + .o-blog--post {
  @include padding-tb(1,1);
}

.o-blog--item__meta {
  font-family: $beta-font-family;
  font-size: 14px;
}

.o-blog--controls {
  @include padding-tb(2,2);
  // @extend clearfix;
}

.o-container {
  max-width: 50em;
  margin: 0 auto;
}

.o-blog--content-holder {
  > p > a {
    @include text-link;
  }
}

.o-blog__list {

  @include padding-tb(2,2);
}

.o-blog__list + .o-blog__list {
  border-top: 2px solid #eee;
}
