/*
    Object: Navigation
    ---
    Navigation
*/


.nav {

}

.o-nav--main {
  width: 100%;
}

.o-nav--main__list {
  list-style: none;
  padding: 0;
}

.o-nav--main__list-item {

  color: white;
  list-style: none;
  text-align: center;

  &:hover {
    background-color: $white;
    .o-nav--main__list-item-link {
      color: $alpha-ui-color;
      text-decoration: none;
    }
  }
  border-bottom: solid 1px lighten($alpha-ui-color, 10%);
}

a.o-nav--main__list-item-link {
  color: white;
  font-family: $beta-font-family;
  width: 100%;
  display: block;
  padding: .5em;
  @include mq($bp3) {
    padding: 1em;
  }
  &:hover,
  &:visited,
  &:active {
    color: white;
  }
}

.o-nav--main__social-media {
  text-align: center;
  padding: .5em;
  @include mq($bp3) {
    padding: 1em;
  }
}
