//
//  Settings: Colors
//  ---
//  The palette function works with a base color and a tint.
//

// Palette function > eg. palette(color-alpha,base)
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

// Base colors
$color-neutral              : #888 !default;

$color-alpha                : #FF5722 !default;
$color-beta                 : #4d4d4d !default;

$color-cta                  : #01579B !default;

$color-error                : #FF4136 !default;
$color-success              : #2ECC40 !default;
$color-notice               : #FF851B !default;

// Palettes
$palettes: (
    color-neutral: (
        x-light             : lighten($color-neutral, 15),
        light               : lighten($color-neutral, 10),
        base                : $color-neutral,
        dark                : darken($color-neutral, 10),
        x-dark              : darken($color-neutral, 15)
    ),
    color-alpha: (
        x-light             : lighten($color-alpha, 15),
        light               : lighten($color-alpha, 10),
        base                : $color-alpha,
        dark                : darken($color-alpha, 10),
        x-dark              : darken($color-alpha, 15)
    ),
    color-beta: (
        x-light             : lighten($color-beta, 15),
        light               : lighten($color-beta, 10),
        base                : $color-beta,
        dark                : darken($color-beta, 10),
        x-dark              : darken($color-beta, 15)
    ),
    color-error: (
        x-light             : lighten($color-error, 15),
        light               : lighten($color-error, 10),
        base                : $color-error,
        dark                : darken($color-error, 10),
        x-dark              : darken($color-error, 15)
    ),
    color-success: (
        x-light             : lighten($color-success, 15),
        light               : lighten($color-success, 10),
        base                : $color-success,
        dark                : darken($color-success, 10),
        x-dark              : darken($color-success, 15)
    ),
    color-notice: (
        x-light             : lighten($color-notice, 15),
        light               : lighten($color-notice, 10),
        base                : $color-notice,
        dark                : darken($color-notice, 10),
        x-dark              : darken($color-notice, 15)
    )
);
