---
layout: default
title: Artikels
permalink: /artikels.html
menu-name: Artikels
weight: 1
---

<section class="c-holder">
  <div class="c-holder__inner">
  <h1 class="u-page-title"><span>Artikels</span></h1>

  {% for post in site.posts %}
  <article class="u-pb-3">
    <header class="u-pb-1">
      <a href="{{ post.url | prepend: site.baseurl }}" class="u-no-border">
        <h1 class="u-h3 u-nm u-color-alpha">
          {{ post.title }}
        </h1>
      </a>
      <h3 class="u-meta-data u-nm">
        {{ post.date | date: "%b %-d, %Y" }}
      </h3>
    </header>
    <div>
      {{ post.excerpt }}
    </div>
    <div>
      <a href="{{ post.url | prepend: site.baseurl }}">Lees verder...</a>
    </div>
  </article>
  {% endfor %}
  </div>
</section>

<!-- <div class="home">
  <section class="holder">
    <div class="holder--content">
      <h1 class="e-title">
        Blog
      </h1>
      <div class="blog">
        <ul class="ui-list">
        {% for post in site.posts %}

          <li class="o-blog__list">
            <a href="{{ post.url | prepend: site.baseurl }}" class="o-btn o-btn-primary o-btn--flr">Read article</a>
            <span class="h2 o-blog--item__title">{{ post.title }}</span><br>
            <span class="o-blog--item__meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</div>
 -->
