/// Color variables (defaults by https://github.com/mrmrs/colors)


// Cool

$aqua						               : #00BCD4;
$blue						               : #2196F3;
$navy						               : #1A237E;
$teal						               : #009688;
$green						             : #4CAF50;
$lime						               : #CDDC39;

// Warm

$yellow						             : #FFEB3B;
$orange						             : #FF9800;
$red						               : #F44336;
$purple						             : #9C27B0;

// Gray Scale

$white						             : #ffffff;
$silver						             : #607D8B;
$gray						               : #9E9E9E;
$black						             : #111111;

// Semantic classes

$alpha-neutral				         : $white;
$beta-neutral				           : $black;

$alpha-text-color			         : $black;
$alpha-text-color-light	  	   : mix($alpha-text-color, $alpha-neutral, 50%);
$alpha-text-color-dark		     : mix($alpha-text-color, $beta-neutral, 50%);

$beta-text-color			         : $silver;
$beta-text-color-light		     : mix($beta-text-color, $alpha-neutral, 50%);
$beta-text-color-dark		       : mix($beta-text-color, $beta-neutral, 50%);

// Primary elements
$alpha-ui-color				         : $blue;
$alpha-ui-color-light		       : mix($alpha-ui-color, $alpha-neutral, 50%);
$alpha-ui-color-dark  		     : mix($alpha-ui-color, $beta-neutral, 50%);

// Secondary elements
$beta-ui-color				         : $navy;
$beta-ui-color-light		       : mix($beta-ui-color, $alpha-neutral, 50%);
$beta-ui-color-dark			       : mix($beta-ui-color, $beta-neutral, 50%);

// Used for borders
$gamma-ui-color				         : $red;
$gamma-ui-color-light		       : mix($gamma-ui-color, $alpha-neutral, 50%);
$gamma-ui-color-dark		       : mix($gamma-ui-color, $beta-neutral, 50%);

// Used for backgrounds
$delta-ui-color				         : $white;
$delta-ui-color-light		       : mix($delta-ui-color, $alpha-neutral, 50%);
$delta-ui-color-dark		       : mix($delta-ui-color, $beta-neutral, 50%);

$border-color           			 : $alpha-text-color;
$border-color-light			       : mix($border-color, $alpha-neutral, 50%);
$border-color-dark			       : mix($border-color, $beta-neutral, 50%);

$error-color 				           : $red;
$success-color 				         : $green;
$notice-color 				         : $yellow;

// Greyscale of alpha-ui-color

$grey-00                       : hsl(hue($alpha-ui-color),10,45);
$grey-01                       : hsl(hue($alpha-ui-color),10,55);
$grey-02                       : hsl(hue($alpha-ui-color),15,65);
$grey-03                       : hsl(hue($alpha-ui-color),15,75);
$grey-04                       : hsl(hue($alpha-ui-color),15,85);
$grey-05                       : hsl(hue($alpha-ui-color),25,95);

// Links

$alpha-link-color			         : $alpha-ui-color;
$alpha-link-colorhover		     : darken($alpha-link-color, 10);
$alpha-link-colorfocus		     : darken($alpha-link-color, 10);
$alpha-link-coloractive		     : darken($alpha-link-color, 10);
$alpha-link-colorvisited	     : $alpha-link-color;
