//
// Grid
//

$grid-gutter				: 20;
$grid-column				: 80;
$grid-columns				: 12;

// Breakpoints calculated in em's, always based on 16px base-value

$bp1						    : 320/16*1em;
$bp2 						    : 480/16*1em;
$bp3						    : 680/16*1em;
$bp4						    : 960/16*1em;
$bp5						    : 1140/16*1em;
$bp6						    : 1300/16*1em;
