//
// Typography
//

$show-baseline-grid			    : false; // toggle the visibility of the baseline (true/false)
$baseline-holder 			      : holder; // set the classname of the element which will show the baseline
$grid-color 				        : rgba(#000,.1); // set the baseline grid color and opacity

$alpha-font-family			    : 'open sans', sans-serif;
$alpha-font-size			      : 16; // pixel-value
$alpha-font-weight			    : 400;
$alpha-line-height			    : 1.5; // em-value
$alpha-baseline-grid		    : 7; // pixel-value
$alpha-leading				      : 1; // multiplier

$beta-font-family			      : 'Roboto Slab', serif;
$beta-font-weight			      : 400;

// Modular scale settings

$ratio						          : 1.3;
$importantnumber			      : 44;
$leading					          : 1;
$base-size					        : $alpha-font-size/16*1em;

// manual modular scale font sizes
// based on http://modularscale.com/scale/?px1=16&px2=18&ra1=1.333&ra2=0

$ms-2						            : 12;
$ms-1						            : 14;
$ms1						            : 18;
$ms2						            : 21;
$ms3						            : 23;
$ms4						            : 28;
$ms5						            : 31;
$ms6						            : 37;
$ms7						            : 42;
$ms8						            : 50;
$ms10 					            : 56;
$ms11						            : 67;
$ms12						            : 75;
$ms13						            : 89;
$ms14						            : 100;
