<section id="companies">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ site.t[page.lang].companies }}</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="logo-holder">
                <div class="col-md-4 logo-item">
                    <a href="http://www.netlog.com" target="_blank" rel="nofollow">
                        <img src="/img/logos/netlog.png" alt="Netlog" class="company-logo">
                    </a>
                </div>
                <div class="col-md-4 logo-item">
                    <a href="http://www.codedor.be" target="_blank" rel="nofollow">
                        <img src="/img/logos/codedor.png" alt="Code d'Or" class="company-logo">
                    </a>
                </div>
                <div class="col-md-4 logo-item">
                    <a href="http://www.ontoforce.com" target="_blank" rel="nofollow">
                        <img src="/img/logos/ontoforce.png" alt="ontoforce" class="company-logo">
                    </a>
                </div>
                <div class="col-md-4 logo-item">
                    <a href="http://www.wijs.be" target="_blank" rel="nofollow">
                        <img src="/img/logos/wijs.png" alt="wijs" class="company-logo">
                    </a>
                </div>
                <div class="col-md-4 logo-item">
                    <a href="http://www.ngdata.com" target="_blank" rel="nofollow">
                        <img src="/img/logos/ngdata.png" alt="NGDATA" class="company-logo">
                    </a>
                </div>
                <div class="col-md-4 logo-item">
                    <a href="http://www.vulpo.be" target="_blank" rel="nofollow">
                        <img src="/img/logos/vulpo.png" alt="Vulpo" class="company-logo">
                    </a>
                </div>
                <div class="col-md-4 logo-item">
                    <a href="http://www.dreamsandcreations.be/nl/" target="_blank" rel="nofollow">
                        <img src="/img/logos/DreamsAndCreations.png" alt="Dreams And Creations" class="company-logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
