<section id="companies">
    <div class="container">
        <div class="row text-center">
            <div class="logo-holder">
                <div class="col-md-2">
                    <a href="http://www.netlog.com" target="_blank" rel="nofollow">
                        <img src="/img/logos/netlog.png" alt="Netlog" class="company-logo">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.codedor.be" target="_blank" rel="nofollow">
                        <img src="/img/logos/codedor.png" alt="Code d'Or" class="company-logo">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.ontoforce.com" target="_blank" rel="nofollow">
                        <img src="/img/logos/ontoforce.png" alt="ontoforce" class="company-logo">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.wijs.be" target="_blank" rel="nofollow">
                        <img src="/img/logos/wijs.png" alt="wijs" class="company-logo">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.ngdata.com" target="_blank" rel="nofollow">
                        <img src="/img/logos/ngdata.png" alt="NGDATA" class="company-logo">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.vulpo.be" target="_blank" rel="nofollow">
                        <img src="/img/logos/vulpo.png" alt="Vulpo" class="company-logo">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.dreamsandcreations.be/nl/" target="_blank" rel="nofollow">
                        <img src="/img/logos/DreamsAndCreations.png" alt="Dreams And Creations" class="company-logo">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://www.winston-analytics.com/" target="_blank" rel="nofollow">
                        <img src="/img/logos/winston_analytics.png" alt="Winston Analytics" class="company-logo">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://www.aanbieders.be/" target="_blank" rel="nofollow">
                        <img src="/img/logos/aanbieders.png" alt="Aanbieders" class="company-logo">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://myfoodspot.eu/" target="_blank" rel="nofollow">
                        <img src="/img/logos/my-food-spot.svg" alt="my-food-spot" class="company-logo">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://bonami.be/" target="_blank" rel="nofollow">
                        <img src="/img/logos/bonami-mannequins.png" alt="bonami" class="company-logo">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://cayman.be/" target="_blank" rel="nofollow">
                        <img src="/img/logos/cayman.png" alt="Cayman" class="company-logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
