<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center text-muted">
                    <p>Sophie de Brabander </p>
                    <p><a href="mailto:hallo@zofie.be">hallo@zofie.be</a> </p>
                    <p><a href="tel:+32479904839">+32 479 90 48 39</a> </p>
                </div>

            </div>
        </div>
    </div>
</section>
