<section>
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Volunteer Experience</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2018 - 2019</h4>
                <h4 class="subheading">Dogs & Drinks</h4>
                <h5 class="subheading">Photographer and Webmaster</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">The first Dog Café in Belgium.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2014 - 2015</h4>
                <h4 class="subheading">CoderDojo Belgium</h4>
                <h5 class="subheading">Coach</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">CoderDojo is an open source, volunteer led movement orientated around running free not-for-profit coding clubs and regular sessions for young people.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2012 - 2013</h4>
                <h4 class="subheading">Vrienden van het Rabot</h4>
                <h5 class="subheading">Webmaster</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Vrienden van het Rabot is a community website for the Rabot region in Ghent. I, along with a great team of volunteers, transferred the website to a more user friendly wordpress version.</p>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
