<section>
  <div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Work</h2>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2018 - Present</h4>
                <h4 class="subheading"><a href="http://solosolo.be/" target="_blank">Solo & Solo</a></h4>
                <h5 class="subheading">Co-founder</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Solo & Solo is Sophie de Brabander & Sofie Verhalle. Sophie and Sofie work independently of each other and sometimes they don't.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2018 - Present</h4>
                <h4 class="subheading">Zofie</h4>
                <h5 class="subheading">Freelance front-end developer</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">A developer who focusses on Wordpress, WooCommerce and Mailchimp.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2015 - Present</h4>
                <h4 class="subheading">Madam Vélo</h4>
                <h5 class="subheading">Founder & Cyclist</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">A community for women who like cycling. A place where women can ask questions, share rides, meet new friends to ride together, attend workshops, ...</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2015 - 2018</h4>
                <h4 class="subheading">NGDATA</h4>
                <h5 class="subheading">Front-end developer</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">NGDATA is the customer experience management solutions company that enables organizations to maximize the value of their customer relationships. Through its breakthrough solution, Lily EnterpriseTM, companies can now create and maintain individual and actionable customer profiles – Lily Customer DNATM – in real time, resulting in highly effective targeting and more personalized customer experiences.</p>
              </div>
            </div>
          </li>
          <li class="timeline">
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2013 - 2015</h4>
                <h4 class="subheading">Wijs</h4>
                <h5 class="subheading">Front-end developer</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">As a front-end developer at Wijs I was responsible for the visual parts of the projects. Our projects were all build from the ground up with Chopstick (our front-end framework) and with a focus on performance and mobile first.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2013</h4>
                <h4 class="subheading">ontoforce</h4>
                <h5 class="subheading">Front-end developer</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">disQover is a user-friendly search engine that establishes intelligent links between different autonomous sources of information: your own databases, databases of other departments or companies within your concern, external sources such as the internet, social media and so on.
In short: disQover connects internal, private data with external, public information.</p>
              </div>
            </div>
          </li>
          <li class="timeline">
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2011</h4>
                <h4 class="subheading">Code d'Or</h4>
                <h5 class="subheading">Project Manager</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">As a Project Manager, I make sure the client's project is delivered as defined in terms of scope, requirements and timing. While communicating with the client, I also help to define a project, and I service the client where possible.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2013</h4>
                <h4 class="subheading">ontoforce</h4>
                <h5 class="subheading">Front-end developer</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">disQover is a user-friendly search engine that establishes intelligent links between different autonomous sources of information: your own databases, databases of other departments or companies within your concern, external sources such as the internet, social media and so on.
In short: disQover connects internal, private data with external, public information.</p>
              </div>
            </div>
          </li>
          <li class="timeline">
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2010 - 2011</h4>
                <h4 class="subheading">Netlog</h4>
                <h5 class="subheading">Marketing & IT</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Netlog (formerly known as Facebox and Bingbox) was a Belgian social networking website targeted at the global youth demographic. On Netlog, members could create their own web page, meet new people, chat, play games, share videos and post blogs.</p>
              </div>
            </div>
          </li>

          </ul>
        </div>
      </div>
    </div>
  </section>
