<div class="c-article u-pb-2">
    <h1 class="u-page-title"><span>Recente artikels</span></h1>
    <ul class="c-article-list u-mb-1">
        {% for post in site.posts | limit : 10 %}
        <li class="c-article-list_item">
            <span class="u-meta-data u-np u-nm">{{ post.date | date: "%b %-d, %Y" }}</span>
            <span class="c-article-list__title u-np u-nm"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
        </li>
        {% endfor %}
    </ul>
    <a href="/artikels.html">Alle artikels</a>
</div>