<ul class="c-nav" id="navigation">
    <li class="c-nav__item" data-menuanchor="home">
        <a href="#home"><span class="c-icon c-icon--home"></span></a>
    </li>
    <li class="c-nav__item" data-menuanchor="blog">
        <a href="#blog"><span class="c-icon c-icon--blog"></span></a>
    </li>
    <li class="c-nav__item" data-menuanchor="projects">
        <a href="#projects"><span class="c-icon c-icon--projects"></span></a>
    </li>
    <li class="c-nav__item" data-menuanchor="timeline">
        <a href="#timeline"><span class="c-icon c-icon--timeline"></span></a>
    </li>
    <li class="c-nav__item" data-menuanchor="contact">
        <a href="#contact"><span class="c-icon c-icon--contact"></span></a>
    </li>
</ul>

