.intro {
  /* background-color: $beta-ui-color; */
  color: $white;

  position: relative;
  width: 100%;
  height: 200px;

  background-color: $alpha-ui-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;

  @include mq($bp3) {
    height: 600px;
  }
}

.intro--title {
  position: absolute;
  bottom: 0;
  left: 2.25em;

  opacity: 1;

  font-size: 1.75em;

  width: 50%;
  @include mq($bp3) {
    width: 30%;
    left: 0.8em;

  }
}
