.masonry--item {

  width: 100%;

  @include mq($bp2) {
    width: 100%;
  }

  @include mq($bp3) {
    width: 50%;
  }

  @include mq($bp4) {
    width: 33.33333%;
  }

  @include mq($bp6) {
    width: 25%;
  }
}

.masonry--item__inner {
  padding: 0 2em 1em 0;

  > img {
    display: block
  }
}

.masonry--item__title {
  padding: 0;

}

.masonry--item__meta {
  color: $silver;
  font-size: .8em;
}
