.mask {
	position: relative;
	overflow: hidden;
	border: 1px solid rgba($white, 0.8);
	background-color: $white;
}

.mask > img {
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
}

img {
	width: 100%;
}

.ratio--one-quarter {
	padding-top: 25%; // 3/4 * 100
}

.ratio--one-three {
	padding-top: 33%; // 3/4 * 100
}

.ratio--two-three {
	padding-top: 66%; // 3/4 * 100
}

.ratio--square {
	padding-top: 100%; // 3/4 * 100
}
