.nav--holder {
  position: absolute;
  right: 10px;
  top: 10px;
}
.nav--main {
  background-color: $gamma-ui-color;
  border-left: 1px solid $alpha-ui-color;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  z-index: 999;
}

.nav--list {
  list-style: none;
  float: right;
  width: 100%;
}

.nav--list__item {
  text-align: right;
  padding-right: 1em;
  @include padding-tb(.5,.5);
}

.nav--list__item {

  &:hover {
    background-color: darken($gamma-ui-color, 10%);
  }
}
