.nav--main {
  display: none;

  @include mq($bp3){
    @include box-(8,1,1);
    display: block;
    @include padding-tb(.5,.5);
  }
}

.nav-mobile__holder {
  @include mq($bp3){
    display: none;
  }
}

.nav--list {
  all: initial;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.nav--list__item {
  font-family: $alpha-font-family;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  @include padding-tb(.5,.5);
}

.nav-mobile__holder {
  -webkit-box-shadow: 1px 0px 3px 0px rgba(26,35,126,1);
     -moz-box-shadow: 1px 0px 3px 0px rgba(26,35,126,1);
          box-shadow: 1px 0px 3px 0px rgba(26,35,126,1);
}

.nav-mobile--list__item {
  font-family: $alpha-font-family;
  list-style: none;
  padding-left: .5em;

  > a {
    color: $white;
  }

  &:hover {
    background-color: darken($beta-ui-color,10);
  }

  @include padding-tb(.5,.5);
}

.nav--list__link {
  color: $alpha-text-color;
  text-decoration: none;

  &:hover,
  &:visited {
    color: $alpha-text-color;
    text-decoration: none;

    border-bottom: 3px solid $alpha-link-color;
  }



  &.is-active {
    color: $alpha-text-color;
    text-decoration: none;

    border-bottom: 3px solid $alpha-link-color;
  }
}


.nav-mobile__holder {
  position: fixed;
  left: 0;
  top: 0;
  background-color: $beta-ui-color;
  height: 100%;
  color: white;
  &.is-full {
    width: 90%;
  }
}
