/*
  Icons
*/

.icon {
	@include hide-text;
	display: inline-block;
	width: 40px;
	height: 40px;
	position: relative;
	top: 1px;
	background-repeat: no-repeat;
	background-position: center center;
}

.icon--menu {
	@include image(nav);
	background-size: 30px 30px;
}

.icon--close {
	@include image(close);
	background-size: 30px 30px;
}
