/*
  Icons
*/

.icon {
	@include hide-text;
	display: inline-block;
	width: 50px;
	height: 50px;
	position: relative;
	top: 1px;
	background-repeat: no-repeat;
	background-position: center center;
}

.icon--menu {
	@include image(nav);
	background-size: 40px 40px;
}

.icon--close {
	@include image(close);
	background-size: 40px 40px;
}
