<!DOCTYPE html>
<html lang="nl">
    {% include head.html %}

    <body id="page-top" class="index">
        {% include header-page.html %}

        <section>
            <div class="container">
                <div class="row">

                    <div class="col-sm-4">&nbsp;</div>
                    <div class="col-sm-4">
                    <div class="team-member text-center">
                        <img src="/img/sophie.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sophie de Brabander</h4>
                        <div class="text-muted">
                          <p>
                            <a href="mailto:hallo@zofie.be">hallo@zofie.be</a>
                          </p>
                          <p>
                            <a href="tel:+32479904839">+32 479 90 48 39</a>
                          </p>

                        </div>

                    </div>
                </div>
                <div class="col-sm-4">&nbsp;</div>
                </div>


            </div>
        </section>

        {% include footer.html %}

        {% include js.html %}

    </body>
</html>
