<!DOCTYPE html>
<html lang="nl">
    {% include head.html %}

    <body id="page-top" class="index">
        {% include header-page.html %}

        {% include cv-work.html %}

        {% include cv-volunteering.html %}

        {% include cv-education.html %}

        <section class="u-npt">
          <div class="text-center">
            <a class="btn btn-xl" href="/files/sophie-de-brabander-cv.pdf" download>Download CV</a>
          </div>
        </section>

        {% include footer.html %}

        {% include js.html %}

    </body>
</html>
