/*
  Grid
*/

.row {
	@include clearfix;
	margin: 0 auto;
	max-width: $grid-width/$alpha-font-size*1em;

	.row {
		padding: 0;
	}
}

.row .row {
	padding: 0;

	@include mq($bp2) {
		@include px-margin-lr(-1,-1);
	}
}

.last-col {
	@include mq($bp2) {
		@include last-col;
	}
}
